In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
MIMICtable = pd.read_csv("/data/localhost/taufiq/export-dir/MIMICtable-1hourly.csv")
MIMICtable['bloc'] = MIMICtable.bloc.astype(int)
MIMICtable['icustay_id'] = MIMICtable.icustay_id.astype(int)

In [3]:
MIMICtable.head()

,bloc,icustay_id,charttime,gender,age,elixhauser,re_admission,died_in_hosp,died_within_48h_of_out_time,mortality_90d,...,mechvent,Shock_Index,PaO2_FiO2,median_dose_vaso,max_dose_vaso,input_total,input_1hourly,output_total,output_1hourly,cumulated_balance
0,1,3,7.245400e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.663900,599.999991,0.0,0.0,6267.0,0.0,9490.0,4705.0,-3223.0
1,2,3,7.245403e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.672340,339.999995,0.0,0.0,6277.0,10.0,14095.0,4605.0,-7818.0
2,3,3,7.245407e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.649789,339.999995,0.0,0.0,6297.0,20.0,18540.0,4445.0,-12243.0
3,4,3,7.245410e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.634454,339.999995,0.0,0.0,6317.0,20.0,22845.0,4305.0,-16528.0
4,5,3,7.245414e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.645714,497.499993,0.0,0.0,6337.0,20.0,27050.0,4205.0,-20713.0

In [4]:
MIMICtable['Potassium'] = MIMICtable['Potassium']*39.0983
MIMICtable['Sodium'] = MIMICtable['Sodium']*22.989769
MIMICtable['Chloride'] = MIMICtable['Chloride']*35.45
MIMICtable['Glucose'] = MIMICtable['Glucose']*10
MIMICtable['Creatinine'] = MIMICtable['Creatinine']*10
MIMICtable['Calcium'] = MIMICtable['Calcium']*10
MIMICtable['Albumin'] = MIMICtable['Albumin']*10**4
MIMICtable['HCO3'] = MIMICtable['HCO3']*61.0168
MIMICtable['Arterial_lactate'] = MIMICtable['Arterial_lactate']*90.08
MIMICtable['WBC_count'] = MIMICtable['WBC_count']*10**3

In [5]:
icustayids = set(MIMICtable['icustay_id'])

In [6]:
len(icustayids)

17161

In [34]:
trajectory_length = 5
MIMICtable_filtered = MIMICtable[MIMICtable['bloc']<=trajectory_length]

In [35]:
len(MIMICtable_filtered)

53852

In [36]:
len(MIMICtable)

610551

In [88]:
processed_data = pd.DataFrame()
filtered_icustayids = []
for icustay_id in tqdm(icustayids):
    data = MIMICtable_filtered[MIMICtable_filtered['icustay_id'] == icustay_id]
    if len(data) > 0 and set(data['bloc']) == set(range(1,len(data)+1)):
        filtered_icustayids.append(icustay_id)
        rows = pd.DataFrame([[-1]*len(data.columns)]*(trajectory_length-len(data)), columns=data.columns)
        data = data.append(rows, ignore_index=True)
        data['icustay_id'] = icustay_id
        processed_data = processed_data.append(data, ignore_index=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 17161/17161 [01:49<00:00, 156.80it/s]

In [37]:
# Only extract trajectories of length two
processed_data = pd.DataFrame()
filtered_icustayids = []
for icustay_id in tqdm(icustayids):
    data = MIMICtable_filtered[MIMICtable_filtered['icustay_id'] == icustay_id]
    if len(data) > 0 and set(data['bloc']) == set(range(1,trajectory_length+1)):
        filtered_icustayids.append(icustay_id)
        processed_data = processed_data.append(data, ignore_index=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 17161/17161 [00:30<00:00, 561.67it/s]

In [38]:
len(processed_data)/5

6177.0

In [21]:
processed_data.head()
processed_data['input_total'] = processed_data['input_total'] - processed_data['input_1hourly']

In [22]:
processed_data.to_csv(f"/data/localhost/taufiq/export-dir/MIMIC-1hourly-length-{trajectory_length}.csv", index=False)

In [2]:
processed_data = pd.read_csv("/data/localhost/taufiq/export-dir/MIMIC-1hourly-length-2.csv")

In [3]:
processed_data.head()

,bloc,icustay_id,charttime,gender,age,elixhauser,re_admission,died_in_hosp,died_within_48h_of_out_time,mortality_90d,...,mechvent,Shock_Index,PaO2_FiO2,median_dose_vaso,max_dose_vaso,input_total,input_1hourly,output_total,output_1hourly,cumulated_balance
0,1,65537,7.139723e+09,0.0,22799.404780,4.0,1.0,0.0,0.0,0.0,...,0.0,0.687500,363.888889,0.18,0.18,4020.493550,29.994183,7235.0,3605.0,-3184.512267
1,2,65537,7.139727e+09,0.0,22799.404780,4.0,1.0,0.0,0.0,0.0,...,0.0,0.602564,430.555556,0.00,0.00,4050.487733,515.407667,10760.0,3525.0,-6194.104600
2,1,3,7.245400e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.663900,599.999991,0.00,0.00,6267.000000,0.000000,9490.0,4705.0,-3223.000000
3,2,3,7.245403e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.672340,339.999995,0.00,0.00,6267.000000,10.000000,14095.0,4605.0,-7818.000000
4,1,65544,7.056917e+09,0.0,24000.436400,3.0,0.0,0.0,0.0,0.0,...,0.0,0.770925,938.636364,0.00,0.00,11332.000000,0.000000,8210.0,4105.0,3122.000000

In [25]:
len(processed_data['icustay_id'].unique())

7658

In [16]:
for i in range(10):
    df = processed_data[processed_data['icustay_id'].isin(icustay_ids[i*500:(i+1)*500])]
    df.to_csv(f"/data/localhost/taufiq/export-dir/mimic_{i}.csv")

In [24]:
df = pd.read_csv("/data/localhost/taufiq/export-dir/simulation_65537_final_1621092232.csv")
df.values

array([['[36928.80317529273]', '[40.091836279518084]',
        '[88.52502333436746]', '[99.49896860438422]',
        '[1589.9198382985028]', '[7.412771751036658]',
        '[13.14391986400579]', '[6631.969204840578]',
        '[48.15046895714232]', '[0.028656131445602133]',
        '[6.410556671441725]', '[3625.3754376726974]',
        '[15.107262053121108]', '[60.96528481903836]',
        '[35.27042345512191]', '[968.7235610305044]',
        '[81.08108108108104]', '[1012.870044679371]',
        '[145.86392274409891]', '[88.08541959803438]',
        '[0.973384739461396]', '[156.3102075775469]',
        '[13.953488372093007]', '[4.635141848714709]', '[0.0]',
        '[33.151252430882664]', '[3325.494997872783]',
        '[112.48288392824978]', '[7000.0]', 65537.0, 7139723400.0],
       ['[36223.955309102144]', '[40.18593999701211]',
        '[89.83130750633676]', '[109.39997626377314]',
        '[1590.719916080686]', '[7.411844989915091]',
        '[15.264951068967534]', '[6747.208441124192]',
        '[52.53607264113476]', '[0.028456494664679234]',
        '[6.296535938254421]', '[3523.8875460123513]',
        '[14.051150564348125]', '[76.48968584885296]',
        '[35.437404084967994]', '[1570.5413014418157]',
        '[107.14285714285711]', '[1012.8504803283279]',
        '[138.9895380500923]', '[97.33523988711957]',
        '[0.9730362776614907]', '[153.42533526205696]',
        '[14.285714285714276]', '[4.633363186143905]',
        '[3599.999999997016]', '[32.22381987125624]',
        '[3315.669231821302]', '[116.99565325218366]', '[7000.0]',
        65537.0, 7139727000.0]], dtype=object)